h1
{
    color: antiquewhite;
}
#chat-room
{
  height: 500px;
  background-color: antiquewhite;
  margin: 30px;
  overflow: overlay;
}
#message {
  width: 75%;
  height: 30px;
 border-radius: 30px;
 margin-bottom: 5px;
 padding: 15px;
 font-size: 25px;

}
#handle
{
  width: 75%;
  height: 30px;
  border-radius: 30px;
  padding: 15px;
  font-size: 25px;

  margin-bottom: 15px;
}
#online {
  padding-top: 100px;
  overflow: overlay;
}
.people{
  margin: 10px;
  padding: 10px;
}
.onlineUser {
  display: inline;
  margin: 10px
}
.sign{
  background: #008000;
  height: 9px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
hr{
  margin: 5px;
  border: .5px solid gray;
}
.error{
  color: red
}
